@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";


@plugin "daisyui/theme" {
    name: "light";
    default: true; /* set as default */
    prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
    
    color-scheme: light; /* color of browser-provided UI */

    --color-primary: #15cb67;
    --color-primary-content: #008f4c;
    --color-primary-focus: #008f4c;
    --color-secondary: #FFFFFF;
    --color-secondary-content: #f0f0f0;
    --color-accent: #C4956E;
    --color-accent-content: #ffffff;
    --color-neutral: #333333;
    --color-neutral-content: #ffffff;
    --color-base-100: #ffffff;
    --color-base-200: #f9fafb;
    --color-base-300: #f3f4f6;
    --color-base-content: #333333;
    --color-info: #3b82f6;
    --color-info-content: #ffffff;
    --color-success: #00A859;
    --color-success-content: #ffffff;
    --color-warning: #f59e0b;
    --color-warning-content: #ffffff;
    --color-error: #ef4444;
    --color-error-content: #ffffff;

    /* border radius */
    --radius-selector: 1rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;

    /* base sizes */
    --size-selector: 0.25rem;
    --size-field: 0.25rem;

    /* border size */
    --border: 1px;

    /* effects */
    --depth: 1;
    --noise: 0;
}



@plugin "daisyui/theme" {
    name: "dark";
    default: true; /* set as default */
    prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
    color-scheme: light; /* color of browser-provided UI */

    --color-primary: #15cb67;
    --color-primary-focus: #008f4c;
    --color-primary-content: #ffffff;
    --color-secondary: #1f1f1f;
    --color-secondary-focus: #2a2a2a;
    --color-secondary-content: #f5f5f5;
    --color-accent: #C4956E;
    --color-accent-focus: #D4A574;
    --color-accent-content: #0f172a;
    --color-neutral: #2a2a2a;
    --color-base-100: #1f1f1f;
    --color-base-200: #151515;
    --color-base-300: #0a0a0a;
    --color-base-content: #f5f5f5;  
    --color-info: #60a5fa;
    --color-success: #34d399;
    --color-warning: #fbbf24;  
    --color-error: #f87171;


    /* border radius */
    --radius-selector: 1rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;

    /* base sizes */
    --size-selector: 0.25rem;
    --size-field: 0.25rem;

    /* border size */
    --border: 1px;

    /* effects */
    --depth: 1;
    --noise: 0;
}